<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="h3" style="font-weight:bold">About Us</h3>
            <p>Welcome to our website. We are a team of web developers based out of Bengaluru, India. We design meaningful solutions to our customers at an affordable price.</p>
        </div>
    </div>
    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h4 class="h4" style="font-weight:bold">Our Team</h4>
            <br />
            <br />
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../../../assets/images/DSC06360c.jpg" alt="" />
            <h3>
                Sushruta G N
                <small>Co-founder and CEO</small>
            </h3>
            <p>Sushruta is one of the co-founder of Template Selling Website and currently serves as its CEO</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../../../assets/images/saket.jpg" alt="">
            <h3>
                Saket Kumar
                <small>Co-founder and CTO</small>
            </h3>
            <p>Saket is one of the co-founder of Template Selling Website and currently serves as its CTO</p>
        </div>     
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../../../assets/images/ravi.jpg" alt="">
            <h3>
                Ravi Sankar
                <small>Co-founder and CMO</small>
            </h3>
            <p>Ravi is one of the co-founder of Template Selling Website and currently serves as the CMO</p>
        </div>
    </div>
    <hr>
</div>